<section id="resume" class="resume">
    <div class="container" data-aos="fade-up">
        <div class="section-title">
            <h2>Resume</h2>
            <p>Check out my educational background and work history that qualify me as a professional developer.</p>
        </div>
        <div class="d-flex justify-content-center align-items-stretch">
            <div class="icon-box shadow">
                <div class="icon">
                    <i class="bx bx-file"></i>
                </div>
                <h4>
                    <a href="{{ resume.file.url }}" class="stretched-link" target="_blank">CV</a>
                </h4>
                <p>Kevin_Wakhisi_CV.pdf</p>
            </div>
        </div>
    </div>
</section>
