<section id="resume" class="resume">
    <div class="container" data-aos="fade-up">
        <div class="section-title">
            <h2>Resume</h2>
            <p>Check out my educational background and work history that qualify me as a professional developer.</p>
        </div>
        <a href="{{ resume.file.url }}" target="_blank" class="text-reset d-flex justify-content-center align-items-stretch">
            <div class="icon-box shadow">
                <div class="icon">
                    <i class="bx bx-file"></i>
                </div>
                <h4>CV</h4>
                <p>Kevin_Wakhisi_CV.pdf</p>
            </div>
        </a>          
    </div>
</section>
